

<div>
    <h5>Thong tin chi tiet </h5>

    <div class="mt-3 h6">
      <label class="form-label">Name</label>
      <input name="account" type="text" class="form-control" value="{{product.name}}">
    </div>
    <div class="mt-3 h6">
      <label class="form-label">Image Link</label>
      <input name="img_url" type="text" class="form-control" value="{{product.img_url}}">
    </div>
    <div class="mt-3 h6">
      <label class="form-label">Brand</label>
      <select class="form-select" aria-label="Default select example">
        <option selected>{{product.brand}}</option>
        <option value="Apple">Apple</option>
        <option value="Asus">Asus</option>
        <option value="Huawei">Huawei</option>
        <option value="LG">LG</option>
        <option value="Nokia">Nokia</option>
        <option value="Oppo">Oppo</option>
        <option value="Samsung">Samsung</option>
        <option value="Sony">Sony</option>
        <option value="Xiaomi">Xiaomi</option>
    </select>
    </div>
    <div class="mt-3 h6">
      <label class="form-label">Price</label>
      <input name="price" type="text" class="form-control" value="{{product.price}}">
    </div>
    <div class="mt-3 h6">
      <label class="form-label">Description</label>
      <textarea name="description" type="text" class="form-control" rows="8">{{product.description}}</textarea>
    </div>
    <div class="mt-3 h6">
      <label class="form-label">Status</label>
      <select class="form-select" aria-label="Default select example">
        <option selected>{{product.status}}</option>
        <option value="1">Có hàng</option>
        <option value="2">Hàng sắp về</option>
        <option value="3">Liên hệ</option>
      </select>
    </div>
</div>