<div class="mt-4">
  <h1>Quản lý danh sách sản phẩm</h1>

  <a type="button" class="btn btn-success float-end" style="margin-left: 10px;" href="/admin/products/create" >
  <i class="fas fa-plus"></i> Add Product
  </a>
  <a type="button" class="btn btn-success float-end" href="/admin/products/recycle" >
  <i class="fas fa-trash-alt"></i> ({{deleted}})
  </a>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Amount</th>
        <th scope="col">Create at</th>
        <th scope="col">Update at</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each products}} 
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.brand}}</td>
        <td>{{this.amount}}</td>
        <td>{{this.create_at}}</td>
        <td>{{this.update_at}}</td>
        <td>
          <a href="/admin/products/{{this.id}}"><button type="button" class="btn btn-primary">Update</button></a>
        </td>
        <td>
          <a type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="{{this.id}}">Delete</a></td>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<form name="delete-form" method="POST"></form>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cảnh báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc muốn xóa dữ liệu ?</p>
      </div>
      <div class="modal-footer">
        <button id='btn-delete' type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  var exampleModal = document.getElementById('exampleModal')    
  var btnDelete = document.getElementById('btn-delete')
  var deleteForm = document.forms['delete-form']

  exampleModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget
    var productID = button.getAttribute('data-id')
    btnDelete.onclick = function() {
      deleteForm.action = '/admin/products/' + productID + '?_method=DELETE'
      deleteForm.submit();
    }
  })
  
</script>