   <div class="products">
        <div class="row mt-4">
            <div class="col col-lg-1">
                <ul class="list" style="list-style: none;padding-left: 0;">
                    <li class="list-item mt-3"><a href="" style="padding: 10px 0">Apple</a></li>
                    <li class="list-item mt-3"><a href="" style="padding: 10px 0">Asus</a></li>
                    <li class="list-item mt-3"><a href="" style="padding: 10px 0">Huawei</a></li>
                    <li class="list-item mt-3"><a href="" style="padding: 10px 0">LG</a></li>
                    <li class="list-item mt-3"><a href="" style="padding: 10px 0">Nokia</a></li>
                    <li class="list-item mt-3"><a href="" style="padding: 10px 0">Oppo</a></li>
                    <li class="list-item mt-3"><a href="" style="padding: 10px 0">Samsung</a></li>
                    <li class="list-item mt-3"><a href="" style="padding: 10px 0">Sony</a></li>
                    <li class="list-item mt-3"><a href="" style="padding: 10px 0">Xiaomi</a></li>
                </ul>
            </div>
            <div class="col col-lg-11">
                <div class="row">
                    {{#each product}}
                    <div class="col col-lg-3 mb-4">
                        <a href="/products/{{this.id}}" style="display: block; text-decoration: none; ">
                            <div class="card" style="padding: 10px 20px; border-radius: 10px; box-shadow: 0 1px 2px #ccc;overflow: hidden;">
                            <h5 class="card-title mt-2" style="color: #333; height: 48px; line-height: 24px; text-align: center;">{{this.name}}</h5>
                            <img src="{{this.img_url}}" class="card-img-top" style="width: 200px; height: 200px; margin: auto;">
                            <div class="card-body" style="padding: 1rem 0">
                                <p class="card-text d-flex justify-content-between" style="color: #333;"> {{this.status}}
                                    <span style="color:#eeb000">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </span>
                                </p>
                                <p class="card-text" style="color: #333;text-align: center; padding:8px; background-color: #f5f5f5; border-radius: 8px;">Giá bán: {{this.price}}</p>
                            </div>
                            </div>
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>
        
        </div>
   </div>