<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4 shadow-sm p-3 mb-5 rounded"
  style="position: fixed; top: 0; left: 0; right: 0; z-index:10">
  <div class="container-fluid align-items-baseline" style="padding: 0 60px">
    <a class="navbar-brand" href="/">
      <img src="/img/logo.svg" alt="" style="width: 40px;">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/"><i class="fas fa-home"></i> HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin"><i class="fas fa-user-cog"></i> ADMIN</a>
        </li>
        {{#unless admin}}
        {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="/user/orders-wait" tabindex="-1"><i class="fas fa-shipping-fast"></i> ORDERS</a>
        </li>
        {{/if}}
        {{/unless}}
        {{#unless admin}}
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1"><i class="fas fa-phone"></i> CONTACT</a>
        </li>
        {{/unless}}
        <li class="nav-item" style="margin-left: 8px; position: relative">
          <form class="d-flex" method="GET" action="/search" autocomplete="off">
            <input name="key" class="search-input form-control me-2" type="text" placeholder="Tìm kiếm... "
              style="border-radius: 20px; min-width: 340px; padding: 10px 20px">
            <div class="search-result"></div>
          </form>
        </li>
      </ul>

      {{#unless admin}}
      {{#if user}}
      <div class="navbar-cart">
        <a href="/user/cart" class="cart-link"
          style="display: block; padding: 10px 20px; font-size: 24px; color: #666; text-decoration: none; position: relative;">
          <i class="fas fa-shopping-cart"></i>
          {{#if cart}}
          <div class="cart-item"
            style="padding:0 6px;position: absolute; top: 8px; right: 4px; font-size: 12px; border: 1px solid; border-radius: 10px;">
            <span>{{cart.countCart}}</span>
          </div>
          {{/if}}
        </a>
        <a href="/user/cart" class="cart-detail"
          style="text-decoration:none; color: #333;background-color: #fff; position:absolute;min-width: max-content;text-align:center;right:160px">
          {{#if cart}}
          <div class="cart-on" style="padding: 40px">
            <span>Bạn có {{cart.countCart}} sản phẩm trong giỏ hàng</span>
            <div class="img-cart--on"></div>
            <span>Nhấn vào để xem chi tiết!</span>
          </div>
          {{else}}
          <div class="cart-out" style="padding: 40px">
            <span>Bạn chưa có sản phẩm nào trong giỏ hàng</span>
            <div class="img-cart--out"></div>
            <span>Hãy chọn mua ngay!</span>
          </div>
          {{/if}}
        </a>
      </div>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" style="font-size: 12px; width:180px; text-align:center">
            <img src="{{user.img_url}}" alt="" style="width:32px; height:32px; border-radius: 50%;">
            {{user.full_name}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="left: -20px">
            <li><a class="dropdown-item" href="/user/info">Thông tin tài khoản</a></li>
            <li><a class="dropdown-item" href="/user/change-password">Đổi mật khẩu</a></li>
            <li class="order-link" style="position: relative;">
              <div class="dropdown-item">Đơn hàng của bạn</div>
              <div class="order-list">
                <a href="/user/orders-wait" class="order-item">Đang chờ ({{wait.count}})</a>
                <a href="/user/orders-success" class="order-item">Đã mua ({{success.count}})</a>
              </div>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/login">Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
      {{/if}}
      {{/unless}}

    </div>
  </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  var input = document.querySelector('.search-input')
  var result = document.querySelector('.search-result')

  //AJAX data
  input.oninput = function () {
    result.style.display = 'block';
    if (this.value != "") {
      axios.post('/user/test', {
          key: this.value,
        })
        .then(function (response) {
          var k = response.data;
          htmls = k.map(function (e) {
            return ` 
                  <a href="/products/${e.id}" style="text-decoration: none; color: unset">
                      <div class="result-choose d-flex align-items-center p-2">
                          <img src="${e.img_url}" width=32>
                          <div style="font-size: 12px; margin-left: 10px">${e.name}</div>
                      </div>
                  </a>`
          })
          result.innerHTML = htmls.join('');
        })
        .catch(function (error) {
          console.log(error);
        });
    } else {
      result.style.display = 'none';
    }
  }

  {{!-- input.onblur = function () {
    result.style.display = 'none';
  } --}}


</script>